<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>saveservlets</servlet-name>
  	<display-name>saveservlets</display-name>
  	<description></description>
  	<servlet-class>com.todo.serlets.saveservlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteservlet</servlet-name>
  	<display-name>deleteservlet</display-name>
  	<description></description>
  	<servlet-class>com.todo.serlets.deleteservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteservlets</servlet-name>
  	<display-name>deleteservlets</display-name>
  	<description></description>
  	<servlet-class>com.todo.serlets.deleteservlets</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>saveservlets</servlet-name>
  	<url-pattern>/saveservlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteservlet</servlet-name>
  	<url-pattern>/deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteservlets</servlet-name>
  	<url-pattern>/deleteservlets</url-pattern>
  </servlet-mapping>
</web-app>
